html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow:overlay;
	overflow-x: hidden;
}
html{
	overflow-y: hidden !important;
}
body {
	display: flex;
	flex-direction: column;
	background-color: black;
	/*padding-left: calc(100vw - 100%);*/
}
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
	}
.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
header {
	background-image: none;
	background-color: #353839;
	color: #fcfcfc;
}

main {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #330000;
	color: #fcfcfc;
}
footer{
	margin-top: auto;
	background-color: black;
	width: inherit;
	padding: 0;
}


@media screen and (max-width: 6in){
	
	#mobile-calendar{
		display: contents;
	}
	#desktop-calendar{
		display: none;
	}
	#text{
		position: relative;
		left: 10%;
		text-align: center;
		width: 80%;
		}

	p{
		font-size: 16px;
	}
	
	h1{
		width: 100%;
		border-bottom-color: lightgrey;
		border-bottom-style: solid;
		border-bottom-width: 5px;
		font-size: 25px !important; 
	}
}
@media screen and (min-width: 6in) and (max-width: 11in){
	#mobile-calendar{
		display: none;
	}
	#desktop-calendar{
		display: contents;
	}
	#text{
		text-align: center;
		height: auto;
		width: 100%;
	}

	p{
		font-size: 16px;
	}

	h1{
		width: 100%;
		border-bottom-color: lightgrey;
		border-bottom-style: solid;
		border-bottom-width: 5px;
	}
}
@media screen and (min-width: 11in){
	#text{
		text-align: center;
		height: auto;
		width: 100%;
	}

	#mobile-calendar{
		display: none;
	}
	#desktop-calendar{
		display: contents;
	}
	h1{
		width: 100%;
		border-bottom-color: lightgrey;
		border-bottom-style: solid;
		border-bottom-width: 5px;
	}
	p{
		font-size: 20px;
	}
}

article p{
	padding-top: 2%;
	padding-bottom: 2%;
}

.card-link{
	color: #000000;
}

.card-link:hover{
	color: #333333;
}

#mbutv9ebul_table li a {
	display: content;
}
#mbutv9ebul_table li div.buttonbg {
	display: content;
}

h3{
    border-bottom: 3px grey solid;
}


.form-all{
	width: 100% !important;
}
@font-face{
	font-family: 'Manglo';
	src: url('./fonts/manglo/Manglo.ttf') format('truetype'),
	url('./fonts/manglo/Manglo.woff') format('woff');

}
#to_home #title {
	font-family: Manglo;
	height: auto;
	font-weight:normal;
	font-style:normal;
	width: 100%;
}

.iframe-container {
	padding-top: 56.25%;
	position: relative;
  }
   
  .iframe-container iframe {
	 border: 0;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
  }
   


  ::-webkit-scrollbar{
	width: 20px;
  }

  ::-webkit-scrollbar-track{
	background: rgba(0, 0, 0, 0)!important;
	
  }
  ::-webkit-scrollbar-thumb{
	background: darkred;
  }

